{% extends 'index.html' %}
{% block css %}
    <style>
    .element{

        float:right;
        margin-right: 10px;
    }
    #c1{
        margin-left:80px;
    }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-offset-3">
                <h2 class="text-center">修改密码页面</h2><br>

                <form action="" method="post" novalidate>
                    <p><span style="font-size: 13px">用户名 </span><br><input type="text" value="{{ request.user }}" readonly class="form-control c1 c2" aria-describedby="sizing-addon1"></p>

                    {% for foo in setpassword_form %}
                        {% csrf_token %}
                        <p><span style="font-size: 13px">{{ foo.label }} </span>{{ foo }}</p>
                        <span id="" class="signal-error element"
                              style="font-size: 10px;color: red "> {{ foo.errors.0 }}</span>

                    {% endfor %}
                    <div class="row text-center">
                        <input type="submit" class="btn btn-primary btn-group-sm  text-center" id="c1">
                    </div>

                </form>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}

{% endblock %}